/* Global Annotation Styles
------------------------------------------------------------------------*/

.fc-annotation {
  border-style: solid;
  border-width: 0;
  font-size: .85em;
  cursor: default;
  }

.fc-annotation-skin {
  border-color: #999;     /* default BORDER color */
  background-color: #edb; /* default BACKGROUND color */
  color: #777;            /* default TEXT color */
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80); /* for IE */
  }

.fc-annotation.closed {
  background-color: #f1f1f1;
}