@import url(https://fonts.googleapis.com/css?family=Prompt:300);

body {
    font-family: 'Roboto', 'Prompt', sans-serif;
}

select {
    font-family: 'Roboto', 'Prompt', sans-serif;
}

.text-important {
    color: red;
    font-size: 1.1rem;
    font-weight: bolder;
}

/* YOUR CUSTOM STYLES */
.select-border {
    margin-top: 1.05em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-password {
    margin: 0px;
}

.btn-table {    
    /*padding-left: 15px;
    padding-right: 15px;*/
    /*margin-top: 0px;*/
    margin-right: 0px;
    /*margin-bottom: 0px;*/
    margin-left: 0px;

}

/* webkit solution */
.form-table::-webkit-input-placeholder { text-align:center; }
/* mozilla solution */
.form-table:-moz-placeholder { text-align:center; }

.form-table { text-align:center; }

.mdb-select {
  margin-left:3rem; 
  width:92%; 
  width:calc(100% - 3rem);
}

#calendar {
  max-width: 100%;
  margin: 0;
}

/*Styles added to show Horizontal Scroll Bar*/
/*.fc-view-container {
  width: auto;
}

.fc-view-container .fc-view {
  overflow-x: scroll;
}

.fc-view-container .fc-view > table {
  width: 1600px;
}*/

table.dataTable thead th.sorting:after {
    font-family: FontAwesome;
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    font-family: FontAwesome;
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    font-family: FontAwesome;
    content: "\f0dd";
}

#datepicker{
    display: none;
}